.box{
    margin: 5px;
    background:#fff;
    width: 24%;
    padding:5rem;
    text-align: center;
    position: relative;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    display: inline-block;
}
.heading{
    margin-top: 30px;
    margin-left: 4%;
        font-family: 'Baloo 2';
        font-size: 40px;
        color:#344E41 ;
    
}
 #diferente {
   margin-left: 39%

 }


